<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818648632114-u4am30tobandh2jddaretuamnr8bs0og.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818648632114-u4am30tobandh2jddaretuamnr8bs0og</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>818648632114-mesp93fp5ucggn59u5ib867k48fr1skg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBeVYQNcZs_dMmuubCmklTYHWn33aJlUVo</string>
	<key>GCM_SENDER_ID</key>
	<string>818648632114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coinMaster</string>
	<key>PROJECT_ID</key>
	<string>coin-master-2f2e8</string>
	<key>STORAGE_BUCKET</key>
	<string>coin-master-2f2e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818648632114:ios:812777e3fcc1128734652b</string>
</dict>
</plist>